@import '../../App.scss';

.header-container {
  width: 100%;
  background-color: $white;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
  }

  h1 {
    width: 100%;
    font-size: 3rem;
    margin-top: 2rem;
    color: $primary;
  }
}