@import '../../App.scss';

.edit-product-container {
  background-color: $white;
  width: 100%;
  max-width: 700px;
  padding: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;

  h1 {
    color: $primary;
  }
}