$gray: #b3b3b3;
$primary: #ea1d2c;
$secondary: #fdedee;
$white: #fff;

.link {
  text-decoration: none;
  color: $primary;
  &:visited {
    color: $primary;
  }
}

.main-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}